nvm
lazygit
lazydocker
go
.config/code-server
.config/configstore/update-notifier-@google
.config/fish/conf.d
.config/htop
.config/uv
.config/nvim/lazy-lock.json
.config/nextjs-nodejs
.config/payload-nodejs
