nvm
lazygit
lazydocker
go
.config/code-server
.config/configstore/update-notifier-@google
.config/fish/conf.d
.config/htop
.config/uv
.config/nvim/lazy-lock.json
.config/nextjs-nodejs
.config/payload-nodejs
.config/Code
.config/RedisInsight
.config/Thonny
.config/bruno
.config/com.strapi
.config/dconf
.config/mimeapps.list
.config/Antigravity
.config/crossnote
.config/gopls/prompt
